.main-app-title {
  text-align: center;
  background-color: #373a47;
  color: white;
  padding: 20px 0px;
}

@media (max-width: 420px) {
  .main-app-title {
    text-align: right;
  }
}

.badge-secondary {
  background-color: transparent;
}