.svg-donut-chart {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.g-donut-chart-container {
  transform: translate(50%, 50%);
}

.g-donut-chart-container .donut-chart-slice {
  stroke: #fff;
  stroke-width: 0.5px;
  opacity: 0.85;
}

.g-donut-chart-container .donut-chart-slice:hover {
  opacity: 1;
}

.g-donut-chart-container .donut-chart-label-line {
  stroke: black;
  stroke-width: 1px;
  fill: none;
}

.g-donut-chart-container .donut-chart-label {
  fill: black;
  font-size: 0.75em;
}

.g-donut-chart-container .donut-chart-inner-text {
  text-anchor: middle;
  font-size: 0.7em;
}