/* Position and sizing of burger button */

.bm-menu-wrap {
  left: 0;
  width: 250px !important;
}

@media (max-width: 420px) {
  .bm-menu-wrap {
    width: 100% !important;
  }
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 16px;
  top: 28px;
}

/* Color/shape of burger icon bars */

.bm-burger-bars {
  background: #e2e2e2;
}

/* Position and sizing of clickable cross button */

.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */

.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */

.bm-menu {
  background: #373a47;
  padding-top: 30px;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */

.bm-item {
  display: inline-block;
  color: #c3c3c3;
}

.bm-item:hover {
  color: #c3c3c3;
}

/* Styling of overlay */

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-nav-item {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  border-bottom: none;
  text-decoration: none !important;
  border-bottom: 1px solid #c3c3c3;
  padding: 5px 0px;
  font-size: 0.9em;
}

.menu-nav-item:hover {
  border-bottom: 3px solid #fff;
  color: #fff;
  padding-left: 10px;
}