$background-color: #f9f9f9;
//
* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	background: $background-color;
}

.float-cleared {
	clear: both;
}

header .row,
.main-content-section .row {
	margin-right: 0px;
	margin-left: 0px;
}

header .col {
	padding: 0;
}

.main-app-wrapper {
	max-width: 100%;
	padding: 0;
}

.red-text {
	color: red;
}

.green-text {
	color: green;
}

.font-size-1em {
	font-size: 1em;
}
